<div id="basic" data-role="page">
  <div data-role="header">
    <h1 style="background: #ff9999">マイページ</h1>
  </div>
  <div>
  	<%= render 'tasks/task' %>
  </div>
  <%= link_to 'send mail', top_mail_path %><br/>
  <%= render 'shared/footer' %>
</div>