<div id="basic" data-role="page">
  <div data-role="header">
    <h1>メールアドレスでアカウント作成しましょう！</h1>
  </div>
  <div data-role="content">
	<%= render 'form' %>
  </div>
   <%= render 'shared/nonmember_footer' %>
</div>