<div data-role="footer">
	<%= link_to t("menu.home"), root_path , "data-inline" => "true", "data-iconpos" => "right", 
    	"data-icon" => "arrow-r", "data-role" => "button"%>
   	<%= link_to t("menu.task"), tasks_path , "data-inline" => "true", "data-iconpos" => "right", 
    	"data-icon" => "arrow-r", "data-role" => "button"%>
    <%= link_to t("menu.logout"),"/session/0",:method=> :delete, "data-inline" => "true", "data-iconpos" => "right", 
    	"data-icon" => "arrow-r", "data-role" => "button" %>
  </div>
