<div data-role="footer">
	<%= link_to t("menu.login"), root_path , "data-inline" => "true", "data-iconpos" => "right", 
    	"data-icon" => "arrow-r", "data-role" => "button"%>
    <%= link_to t("menu.signup"), new_user_path, "data-inline" => "true", "data-iconpos" => "right", 
    	"data-icon" => "arrow-r", "data-role" => "button" %>
  </div>