<!doctype html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>タイトル</title>
	<%= javascript_include_tag 'application', :media => 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body>
	<div id='contents_area'>
		<%= yield %>
	</div>
	<div id="footer">
		Copyright c 2013 SLup, Inc. All Rights Reserved
	</div>
</body>
</html>